* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    width: 100vw;
    height: 100vh;
}
body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #060707, #0b0d0d, #0f1212, #131616, #161a1a);
}

.container {
    height: 100vh;
    align-content: center;
    width: 24rem;
}

.calculator {
    padding: 1.3rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(157, 184, 238, 0.5);
}

input {
    width: 18.5rem;
    border: none;
    padding: 1rem;
    margin: 1rem;
    background: transparent;
    font-size: 3rem;
    box-shadow: 0px 3px 15px rgba(246, 219, 112, 0.2);
    text-align: right;
    color: white;
    transition: all 0.5s ease;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
}