* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

/* html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
} */

body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #060707, #0b0d0d, #0f1212, #131616, #161a1a);
    width: 100vw;
    overflow-x: hidden;
}

.container {
    height: 100vh;
    align-content: center;
    width: 24rem;
}
.calculator {
    padding: 1.3rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(157, 184, 238, 0.5);
}

input {
    width: 19rem;
    height: 80px;
    padding: 1rem;
    margin: 1rem;
    border: none;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 3rem;
    text-align: right;
    transition: 0.5s ease all;
}

input::placeholder {
    color: #ffffff;
}

input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(200, 220, 255, 0.3);
    cursor: pointer;
}

#inputBox {
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.24rem;
    font-weight: bold;
    background-color: #0b0d0d;
    color: #ffffff;
    box-shadow: 0px 3px 10px rgba(238, 221, 221, 0.1);
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(200, 220, 255, 0.3);
}

.operator {
    color: yellow;
}

.equalBtn {
    color: yellow;
}

@media screen and (max-width:500px) {

    .container {
    width: 19rem;
    }

    /* .calculator {
    padding: 1.3rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(157, 184, 238, 0.5);
} */

input {
    width: 17rem;
    height: 76px;
    padding: 1rem;
    margin: 1rem;
    border: none;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 2.5rem;
    text-align: right;
    transition: 0.5s ease all;
}


button {
    border: none;
    width: 3.8rem;
    height: 3.95rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #0b0d0d;
    color: #ffffff;
    box-shadow: 0px 3px 10px rgba(238, 221, 221, 0.1);
}

.calculator {
    padding: 0.19rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(157, 184, 238, 0.5);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
}